/.venv/
/.idea/

**/bin/
**/obj/

.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.ds_store
.DS_Store

**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Development.json

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
bower_components/
wwwroot/lib/
packages/

**/publish/
**/PublishProfiles/
**/Properties/PublishProfiles/
**/Properties/ServiceDependencies/
*.publishsettings

*.bak
*.cache
*.pidb
*.dotCover
*.dbmdl
*.jfm
*.pfx
*.snk
*.opt
